//- Document Head
extends config/base
block page_content
    .container(data-parallax="50" data-height="100%" data-background="https://static.pexels.com/photos/4827/nature-forest-trees-fog.jpeg" data-background-position="50% 50%" data-background-size="cover")
        .row
            .col-xs-12
                input(type="text" placeholder="Placeholder")
