//- Document Head
extends config/base
block page_content
    .container
        .row
            .col-xs-12
                .jumbotron
                    h1.display-3 Boilerplate v1.0.1
                    p.lead Przygotwany w oparciu o Bootstrapa w wersji 4.0.0, Jade, Gulpa oraz preprocesor Sass.
