//- Document Head
extends config/base
block page_content
    .container
        .row
            .col-xs-12
            ._js-lightGallery
                a(href='https://static.pexels.com/photos/1826/wood-nature-sunny-forest.jpg', data-sub-html='Place for title')
                    img(src='https://static.pexels.com/photos/1826/wood-nature-sunny-forest.jpg')
                a(href='https://static.pexels.com/photos/1826/wood-nature-sunny-forest.jpg', data-sub-html='Place for title')
                    img(src='https://static.pexels.com/photos/1826/wood-nature-sunny-forest.jpg')
