//- Document Head
extends config/base
block page_content
    .container
        .row
            .col-xs-12.text-xs-center
                span.tooltipster(title="tooltip_content") This span has a tooltip with HTML when you hover over it!
