//- Document Head
extends config/base
block vars
    - var page_title   = "Boilerplate - strona główna"
block page_content
    .container
        .row
            .col-xs-12
                .jumbotron
                    h1.display-3 Boilerplate v1.0.3
                    p.lead
                        | Projekt ten zawiera dokumentację, którą możesz wygenerować poprzez
                        | #[code gulp pug-doc], znajdziesz tam najważniejsze informacje dotyczące
                        | tego boilerplate.
                    p.lead
                        | Po poprawnym wykonaniu powyższego polecenie, jesteś gotowy na to, aby przejść
                        | do przygotowanej struktury 
                        | z&nbsp;#[a(href="/doc", title="Przejdz do strony z dokumentacją", target="_blank", data-rewrite-mode-disabled) dokumentacją]
    footer.footer
        .container
            .row
                .col-xs-12
                    p.text-xs-center.note &#x24B8;&nbsp;2017 Boilerplate. Stworzone z &#x2665; przez Krzysztof Wielicki.
