//- Document Head
extends ../config/base
block page_content
    section.page-documentation
        .container-fluid
            .row
                .col-sm-3
                    p 3
                .col-sm-9
                    p 9
